$content-max: 1200px;
$sp1: 8px;
$sp2: 16px;
$sp3: 24px;
$sp4: 32px;
$sp5: 40px;
$sp6: 48px;
$sp7: 56px;
$sp8: 64px;
$sp9: 72px;
$sp10: 80px;
$sp11: 88px;
$sp12: 96px;
$sp13: 104px;
$sp14: 112px;
$sp15: 120px;
$sp16: 128px;
$sp17: 136px;
$sp18: 144px;
$sp19: 152px;
$sp20: 160px;
$sp21: 168px;

$sp-min: $sp3;
$sp-max: $sp6;
